

{% load static %}
<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  
      <title>Focus Admin: Basic Form </title>
  
      <!-- ================= Favicon ================== -->
      <!-- Standard -->
      <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
      <!-- Retina iPad Touch Icon-->
      <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
      <!-- Retina iPhone Touch Icon-->
      <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
      <!-- Standard iPad Touch Icon-->
      <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
      <!-- Standard iPhone Touch Icon-->
      <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
  
      <!-- Styles -->
      <link href="{% static 'css/lib/font-awesome.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/lib/themify-icons.css' %}" rel="stylesheet">
      <link href="{% static 'css/lib/menubar/sidebar.css' %}" rel="stylesheet">
      <link href="{% static 'css/lib/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/lib/helper.css' %}" rel="stylesheet">
      <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
  <body class="bg-light-gray navbar-fixed" id="body">
    <div class="header ml-0  " style="padding-top: 15px;">
      <div class="container-fluid">
          <div class="row">
            <div class="col col-lg-4">
              <a class="navbar-brand" href="#">Focus</a>
            </div>
              <div class="col-lg-5">
              </div>
                  <div class="float-right">
                    <a href="/" class="btn btn-lg"><i class="ti-home"></i></a>   
                    <a href="/livros/" class="btn btn-lg"><i class="ti-book"></i></a> 
                    <a href="/leituras/" class="btn btn-lg"><i class="ti-bookmark"></i></a> 
                    <a href="/perfil/meuPerfil/" class="btn btn-lg"><i class="ti-user"></i></a>    
                    <a href="/accounts/logout/"  class="btn btn-lg"><i class="ti-shift-right"></i></a>
                  </div>
          </div>
        </div>
    </div>
        <div class="row justify-content-center mt-10" style="margin-top: 10px; margin-left: 100px;  margin-right: 100px;">
            <section id="main-content mt-10">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="user-profile">
                          <div class="row">
                            <div class="col-lg-4">
                              <div class="user-photo m-b-30">
                                <img class="img-fluid" src="/{{livro.Imagem}}" width="550" height="300"/>
                              </div>
                            </div>
                            <div class="col-lg-8">
                              <div class="user-profile-name"><h2>{{livro.Titulo}}</h2></div>
                              <div class="user-Location">
                                <i class="ti-location-pin"></i> {{livro.Ano_lancamento}}</div>
                              <div class="ratings">
                                <h4 style="margin-top:5px">Ratings</h4>
                                <div class="rating-star">
                                  {% if media_avaliacoes <= 0.5 %}
                                  <i class="ti-star"></i> 
                                  <i class="ti-star"></i> 
                                  <i class="ti-star"></i> 
                                  <i class="ti-star"></i> 
                                  <i class="ti-star"></i> 
                                  {% elif media_avaliacoes <= 1.7 %}
                                  <i class="ti-star" style="color:rgb(250, 226, 8);"></i> 
                                  <i class="ti-star"></i> 
                                  <i class="ti-star"></i>
                                  <i class="ti-star"></i>
                                  <i class="ti-star"></i> 
                                  {% elif media_avaliacoes <= 2.7 %}
                                  <i class="ti-star" style="color:rgb(250, 226, 8);"></i> 
                                  <i class="ti-star" style="color:rgb(250, 226, 8);"></i> 
                                  <i class="ti-star"></i>
                                  <i class="ti-star"></i>
                                  <i class="ti-star"></i> 
                                  {% elif media_avaliacoes <= 3.7 %}
                                  <i class="ti-star" style="color:rgb(250, 226, 8);"></i> 
                                  <i class="ti-star" style="color:rgb(250, 226, 8);"></i> 
                                  <i class="ti-star" style="color:rgb(250, 226, 8);"></i> 
                                  <i class="ti-star"></i>
                                  <i class="ti-star"></i> 
                                  {% elif media_avaliacoes <= 4.7 %}
                                  <i class="ti-star" style="color:rgb(250, 226, 8);"></i> 
                                  <i class="ti-star" style="color:rgb(250, 226, 8);"></i> 
                                  <i class="ti-star" style="color:rgb(250, 226, 8);"></i> 
                                  <i class="ti-star" style="color:rgb(250, 226, 8);"></i> 
                                  <i class="ti-star"></i>
                                  {% elif media_avaliacoes <= 5 %}
                                  <i class="ti-star" style="color:rgb(250, 226, 8);"></i> 
                                  <i class="ti-star" style="color:rgb(250, 226, 8);"></i> 
                                  <i class="ti-star" style="color:rgb(250, 226, 8);"></i> 
                                  <i class="ti-star" style="color:rgb(250, 226, 8);"></i> 
                                  <i class="ti-star" style="color:rgb(250, 226, 8);"></i> 
                                  {% endif %}  
                                  <span style="margin-left:5px;"><b> {{media_avaliacoes|floatformat:2}}</b></span>
                                  <span style="margin-left:40px;">{{cont_leituras}} lidos </span>
                                  
                                </div>
                              </div>
                              
                              <div class="custom-tab user-profile-tab mt-5">
                                <ul class="nav nav-tabs" role="tablist">
                                  <li role="presentation" class="active">
                                    <h4>Resumo</h4>
                                  </li>
                                </ul>
                                <div class="tab-content">
                                  <div role="tabpanel" class="tab-pane active" id="1">
                                    <div class="basic-information" style="text-align: justify;">
                                        {{livro.Sinopse}}
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="user-send-message mt-2" style="margin-top:2500px;">
                                  <a href="/leituras/criar/{{livro.id}}"><button type="button" class="btn btn-primary" >Adicionar como leitura </button></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="row">
                  
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="card-body">
                          <form method="POST" class="form-profile">
                              {% csrf_token %}
                              <div class="form-group">
                                  <textarea class="form-control"   required name="Conteudo" id="id_Conteudo" cols="30" rows="2" placeholder="Digite seu comentário..."></textarea>
                              </div>
                              <div class="d-flex align-items-center">
                                <button type="submit" class="btn btn-primary px-3 ml-4">Send</button>
                            </div>
                          </form>
                      </div>
                  </div>
                    <div class="card mt-10" style="padding-top: 30px;" >
                     {% for i in page_obj %}
                      <div class="media media-reply" style="padding-right: 50px; padding-left: 30px;">
                        <img class="mr-3 circle-rounded" src="/{{i.Autor_comentario.Imagem}}" width="50" height="50" alt="Generic placeholder image">
                        <div class="media-body">
                            <div class="d-sm-flex justify-content-between mb-2">
                                <h5 class="mb-sm-0"><a href="/perfil/visualizar/{{i.Autor_comentario.id}}">{{i.Autor_comentario.Nome}} {{i.Autor_comentario.Sobrenome}}</a> <small class="text-muted ml-3">about 3 days ago</small></h5>
                                <div class="media-reply__link">
                                  <a href="/comentario/curtir/{{i.id}}"> <button class="btn btn-transparent p-0 mr-3">{{i.Curtida.count}}<i class="fa fa-thumbs-up"></i></button></a>
                                </div>
                            </div>
                            <p>{{i.Conteudo}}</p>
                        </div>
                    </div>
                      {% endfor %}
                     
                  </div>
                  <div class="bootstrap-pagination">
                    <nav>
                        {% if page_obj.has_other_pages %}
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class=" page-item disabled"><span class="page-link" >&laquo;</span></li>
                            {% endif %}
                            {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class=" page-item active"><span class="page-link" > {{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li class="page-item" ><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item" ><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class=" page-item disabled"><span class="page-link" >&raquo;</span></li>
                            {% endif %}
                        </ul>
                        {% endif %}
                        </ul>
                    </nav>
                </div>
                  </div>
                 
                </div>
                </div>
                <!-- /# row -->
              </section>

        </div>
         

  </div>
     </div>
            </div>
        </div>

</body>
</html>

