{% load static %}
<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Focus Admin: Basic Form </title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="{% static 'css/lib/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/menubar/sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/helper.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
  <body class="bg-light-gray" id="body">
          <div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh">
          <div class="d-flex flex-column justify-content-between">
            <div class="row justify-content-center">
              <div class="col-lg-6 col-xl-5 col-md-10 ">
                <div class="card card-default " style="margin-top: 10px;">
                  <div class="card-header pb-0">
                    <div class="app-brand w-100 d-flex justify-content-center border-bottom-0">
                    </div>
                  </div>
                  <div class="card-body px-5 pb-5 pt-0">
                    <h4 class="text-dark text-center mb-4" style="margin-top: 25px;">Editar livro</h4>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                          <div class="form-group col-md-12 mb-4">
                              <input type="text" class="form-control input-default"  placeholder="Titulo" name="Titulo" maxlength="1000" value="{{livro.Titulo}}" required id="id_Titulo">
                          </div>
                          <div class="form-group col-md-12 mb-4">
                              <input type="text" class="form-control input-default"  placeholder="Editora" name="Editora" maxlength="1000" value="{{livro.Editora}}" required id="id_Editora">
                          </div>
                          <div class="form-group col-md-12 mb-4">
                              <input type="text" class="form-control input-default"  placeholder="Autor" name="Autor" maxlength="1000" value="{{livro.Autor}}" required id="id_Autor">
                          </div>
                          <div class="form-group col-md-12 mb-4">
                            <input type="text" class="form-control input-default"  placeholder="ISBN" name="ISBN" maxlength="13"  value="{{livro.ISBN}}" required id="id_ISBN">
                        </div>
                          <div class="form-group col-md-12 mb-4">
                              <input type="text" class="form-control input-default"  placeholder="Ano de lançamento" name="Ano_lancamento" value="{{livro.Ano_lancamento}}" maxlength="4" required id="id_Ano_lancamento">
                          </div>
                          <div class="form-group col-md-12 mb-4">
                              <input type="text" class="form-control input-default"  placeholder="Número de páginas" name="Paginas" maxlength="10" value="{{livro.Paginas}}" required id="id_Paginas">
                          </div>
                          {% if livro.Categoria == "Fantasia"%}
                          <div class="form-group col-md-12 mb-4">
                              <label for="id_Categoria">Categoria:</label>
                              <select name="Categoria" class="form-control input-default" required id="id_Categoria">
                            <option value="">---------</option>
                          
                            <option value="Fantasia" selected>Fantasia</option>
                          
                            <option value="Romance">Romance</option>
                          
                            <option value="Suspense">Suspense</option>
                          
                            <option value="Contos">Contos</option>
                          
                          </select>
                          </div>
                          {% elif livro.Categoria == "Romance" %}
                          <div class="form-group col-md-12 mb-4">
                            <label for="id_Categoria">Categoria:</label>
                            <select name="Categoria" class="form-control input-default" required id="id_Categoria">
                          <option value="" >---------</option>
                        
                          <option value="Fantasia">Fantasia</option>
                        
                          <option value="Romance" selected>Romance</option>
                        
                          <option value="Suspense">Suspense</option>
                        
                          <option value="Contos">Contos</option>
                        
                        </select>
                        </div>
                        {% elif livro.Categoria == "Suspense" %}
                          <div class="form-group col-md-12 mb-4">
                            <label for="id_Categoria">Categoria:</label>
                            <select name="Categoria" class="form-control input-default" required id="id_Categoria">
                          <option value="" >---------</option>
                        
                          <option value="Fantasia">Fantasia</option>
                        
                          <option value="Romance">Romance</option>
                        
                          <option value="Suspense" selected>Suspense</option>
                        
                          <option value="Contos">Contos</option>
                        
                        </select>
                        </div>
                        {% elif livro.Categoria == "Contos" %}
                          <div class="form-group col-md-12 mb-4">
                            <label for="id_Categoria">Categoria:</label>
                            <select name="Categoria" class="form-control input-default" required id="id_Categoria">
                          <option value="" >---------</option>
                        
                          <option value="Fantasia">Fantasia</option>
                        
                          <option value="Romance">Romance</option>
                        
                          <option value="Suspense">Suspense</option>
                        
                          <option value="Contos" selected>Contos</option>
                        
                        </select>
                        </div>
                        {% endif %}
                          <div class="form-group col-md-12 mb-4">
                            <label for="id_Imagem">Imagem:</label>
                            Atualmente: <a href="/{{livro.Imagem}}">{{livro.Imagem}}</a>
                            <input type="checkbox" name="Imagem-clear" id="Imagem-clear_id">
                            <label for="Imagem-clear_id">Limpar</label><br>
                             Modificar:
                            <input type="file" name="Imagem" accept="image/*" id="id_Imagem">
                          </div>
                          <div class="form-group col-md-12 mb-4">
                            <textarea type="text" class="form-control input-default"  name="Sinopse" placeholder="Digite a sinopse do livro..." cols="1000" rows="10"  id="id_Sinopse">{{livro.Sinopse}}</textarea>
                        </div>
                          <div class="col-md-12">
                            <button type="submit" class="btn btn-primary btn-pill mb-4">Finalizar</button>
  
                          </div>
                        </div>
                      </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

</body>
</html>
