{% load static %}
<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
    <head>
        <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
      
        <title>Mono - Responsive Admin & Dashboard Template</title>
      
        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Roboto" rel="stylesheet">
        <link href="{% static 'plugins/material/css/materialdesignicons.min.css' %}" rel="stylesheet" />
        <link href="{% static 'plugins/simplebar/simplebar.css' %}" rel="stylesheet" />
      
        <!-- PLUGINS CSS STYLE -->
        <link href="{% static 'plugins/nprogress/nprogress.css' %}" rel="stylesheet" />
        
        <!-- MONO CSS -->
        <link id="main-css-href" rel="stylesheet" href="{% static 'css/style.css' %}" />
      
        
      
      
        <!-- FAVICON -->
        <link href="{% static 'images/favicon.png' %}" rel="shortcut icon" />
      
        <!--
          HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="{% static 'plugins/nprogress/nprogress.js' %}"></script>
      </head>

</head>
  <body class="bg-light-gray navbar-fixed" id="body">
    <nav class=" navbar-light bg-light text-align-right" style=" padding-top: 8px;padding-bottom: 8px;padding-left: 16px;padding-right: 16px;" >
      <div class="row ">
        <div class="col col-lg-4">
          <a class="navbar-brand" href="#">Lista de livros</a>
        </div>
       <div class="col col-lg-6">
        <form method='get' class="form-inline my-2 my-lg-0">
            <input type="search" class="form-control mr-sm-2" placeholder="Pesquisar"  id="pesquisa" name="pesquisa">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
       </div>
        <div class="col align-items-right">
          <a href="/" class="btn btn-lg"><i class=" mdi mdi-home-variant"></i></a>   
          <a href="" class="btn btn-lg"><i class=" mdi mdi-account-circle"></i></a>  
          <a href="/accounts/logout/"  class="btn btn-lg"><i class="mdi mdi-account-arrow-right"></i></a>
        </div>
      </div>
    </nav>
    <div class="content">
      <div class="d-flex flex-column justify-content-between">
        <p><a href="/livros/criar/"><button type="button" class="btn btn-outline-warning">Criar</button></a></p>
                <div class="row">
                    {% if lista %}
                        {% for i in lista %}
                        <div class="col-xl-9">
                          <div class="card card-default mb-3">
                            <div class="row no-gutters">
                              <div class="col-md-2">
                                <img src="/{{i.Imagem}}" class="horizontal-img ml-4" alt="Image" width="130" height="170">
                              </div>
                              <div class="col-md-9">
                                <div class="card-body">
                                  <h5 class="card-title pt-2">{{i.Titulo}}</h5>
                                  <p class="card-text mb-6">{{i.Autor}}, {{i.Ano_lancamento}}</p>
                                      <a href="/leituras/criar/{{i.id}}"><button type="button" class="btn btn-outline-secondary">Adicionar como leitura</button></a>
                                      <a href="/livros/expandir/{{i.id}}"><button type="button" class="btn btn-outline-secondary">Visualizar</button></a>
                                      <a href="/livros/editar/{{i.id}}"><button type="button" class="btn btn-outline-secondary">Editar</button></a>
                                      <a href="/livros/deletar/{{i.id}}"><button type="button" class="btn btn-outline-secondary">Deletar</button></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        Nenhum livro cadastrado ainda 
                    {% endif %}
                    
                </div>
    </div>        
                </div>
              </div>
            </div>
        </div>

</body>
</html>

