{% load static %}
<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Focus Admin: Basic Form </title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="{% static 'css/lib/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/menubar/sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/helper.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
  <body class="bg-light-gray" id="body">
    
    <div class="header ml-0  " style="padding-top: 15px;">
      <div class="container-fluid">
          <div class="row">
            <div class="col col-lg-4">
              <a class="navbar-brand" href="#">Focus</a>
            </div>
              <div class="col-lg-5">
                
              </div>
                  <div class="float-right">
                    <a href="/" class="btn btn-lg"><i class="ti-home"></i></a>   
                    <a href="/livros/" class="btn btn-lg"><i class="ti-book"></i></a> 
                    <a href="/leituras/" class="btn btn-lg"><i class="ti-bookmark"></i></a> 
                    <a href="/perfil/meuPerfil/" class="btn btn-lg"><i class="ti-user"></i></a>  
                    <a href="/accounts/logout/"  class="btn btn-lg"><i class="ti-shift-right"></i></a>
                  </div>
          </div>
      </div>
  </div>
          <div class="d-flex flex-column justify-content-between">
            <div class="row page-titles mx-0">
              <div class="col p-md-0">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/leituras/{{perfil_visitado.id}}">Todas as minhas leituras</a></li>
                      <li class="breadcrumb-item active"><a href="/leituras/lidos/{{perfil_visitado.id}}">Lidos</a></li>
                      <li class="breadcrumb-item active"><a href="/leituras/lendo/{{perfil_visitado.id}}">Lendo</a></li>
                      <li class="breadcrumb-item active"><a href="/leituras/quero/{{perfil_visitado.id}}">Quero ler</a></li>
                  </ol>
              </div>
          </div>
                    <div class="row " style="margin-left: 20px; margin-right:20px;">
                        {% if page_obj %}
                            {% for i in page_obj %}
                            <div class="col-xl-4 col-sm-4">
                              <div class="card card-default card-mini">
                                <div class="card-header">
                                  <div class="row" >
                                    <div class="col-4">
                                      {% if i.Status == 'Lendo' %}
                                      <div class="alert alert-secondary" style="padding: 1px; padding-left: 5px;  margin-right: 30px; font-size: small;">
                                        <i class="ti-tag"></i> Lendo
                                      </div>
                                      {% elif i.Status == 'Lido'%}
                                      <div class="alert alert-success" style="padding: 1px; margin-right: 45px; font-size: small;">
                                        <i class="ti-tag"></i> Lido
                                      </div>
                                      {% else %}
                                      <div class="alert alert-primary" style="padding: 1px;  margin-right: 20px; font-size: small;  margin-bottom: 5px;">
                                        <i class="ti-tag"></i> Quero ler
                                      </div>
                                      <div class="alert alert" style="padding: 1px; margin-right: 20px; font-size: small;">
                                        <i class="ti-calendar"></i> {{i.Meta_leitura}}
                                      </div>
                                      {% endif %}
                                    </div>
                                    <div class="col-4"  style="padding: 1px;">
                                      <div class="stat-icon dib"><img class="mr-3" src="/{{i.Livro_lido.Imagem}}" width="115" height="160" alt="">
                                      </div>
                                    </div>
                                  </div>
                                    <div class="row justify-content-center"> 
                                      <div class="col-6">
                                        <div class="row justify-content-center">
                                          <h2>{{i.Livro_lido}}</h2>
                                        </div>
                                      </div>
                                    </div>
                                </div>    
                              </div>
                            </div>
                            {% endfor %}
                           
                            
                      </div>
                           
                          
                        {% else %}
                            Nenhum livro cadastrado ainda 
                        {% endif %}
                        <div class="row justify-content-center">
                          <div class="bootstrap-pagination">
                            <nav>
                                {% if page_obj.has_other_pages %}
                                <ul class="pagination justify-content-center">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                    {% else %}
                                        <li class=" page-item disabled"><span class="page-link" >&laquo;</span></li>
                                    {% endif %}
                                    {% for i in page_obj.paginator.page_range %}
                                        {% if page_obj.number == i %}
                                            <li class=" page-item active"><span class="page-link" > {{ i }} <span class="sr-only">(current)</span></span></li>
                                        {% else %}
                                            <li class="page-item" ><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item" ><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                        <li class=" page-item disabled"><span class="page-link" >&raquo;</span></li>
                                    {% endif %}
                                </ul>
                                {% endif %}
                                </ul>
                            </nav>
                        </div>
                        </div>
                    </div>
                  
                </div>
              </div>
            </div>
        </div>

</body>
</html>

