{% load static %}
<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Focus Admin: Basic Form </title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="{% static 'css/lib/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/menubar/sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/helper.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
  <body class="bg-light-gray" id="body">
    
    <div class="header ml-0  " style="padding-top: 15px;">
      <div class="container-fluid">
          <div class="row">
            <div class="col col-lg-4">
              <a class="navbar-brand" href="#">Focus</a>
            </div>
              <div class="col-lg-5">
                
              </div>
                  <div class="float-right">
                    <a href="/" class="btn btn-lg"><i class="ti-home"></i></a>   
                    <a href="/livros/" class="btn btn-lg"><i class="ti-book"></i></a> 
                    <a href="/leituras/" class="btn btn-lg"><i class="ti-bookmark"></i></a> 
                    <a href="/perfil/meuPerfil/" class="btn btn-lg"><i class="ti-user"></i></a>  
                    <a href="/accounts/logout/"  class="btn btn-lg"><i class="ti-shift-right"></i></a>
                  </div>
          </div>
      </div>
  </div>
          <div class="d-flex flex-column justify-content-between">
            <p><a href="/livros/"><button type="button" class="btn btn-outline-warning">Nova Leitura</button></a>
            <a href="/leituras/lidos"><button type="button" class="btn btn-outline-warning">Lidos</button></a>
            <a href="/leituras/lendo"><button type="button" class="btn btn-outline-warning">Lendo</button></a>
            <a href="/leituras/quero"><button type="button" class="btn btn-outline-warning">Quero ler</button></a></p>
                    <div class="row justify-content-center">
                        {% if lista %}
                            {% for i in lista %}
                            <div class="col-xl-3 col-sm-6">
                                <div class="card card-default card-mini">
                                <div class="card-header">
                                    <div class="stat-icon dib"><img class="mr-3" src="/{{i.Livro_lido.Imagem}}" width="100" height="120" alt="">
                                    </div>
                                    <h2>{{i.Livro_lido}}</h2>
                                    {{i.Data_final}}
                                    <div class="sub-title">
                                    <span class="mr-1">
                                        <p><a href="/leituras/editar/{{i.id}}"><button type="button" class="btn btn-outline-secondary">Editar</button></a></p>
                                        <p><a href="/leituras/finalizar/{{i.id}}"><button type="button" class="btn btn-outline-secondary">Finalizar</button></a></p>
                                        <a href="/leituras/deletar/{{i.id}}"><button type="button" class="btn btn-outline-secondary">Deletar</button></a></span> 
                                    </div>
                                </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            Nenhum livro cadastrado ainda 
                        {% endif %}
                        
                    </div>
                  
                </div>
              </div>
            </div>
        </div>

</body>
</html>

