
{% load static %}
<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  
      <title>Focus Admin: Basic Form </title>
  
      <!-- ================= Favicon ================== -->
      <!-- Standard -->
      <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
      <!-- Retina iPad Touch Icon-->
      <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
      <!-- Retina iPhone Touch Icon-->
      <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
      <!-- Standard iPad Touch Icon-->
      <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
      <!-- Standard iPhone Touch Icon-->
      <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
  
      <!-- Styles -->
      <link href="{% static 'css/lib/font-awesome.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/lib/themify-icons.css' %}" rel="stylesheet">
      <link href="{% static 'css/lib/menubar/sidebar.css' %}" rel="stylesheet">
      <link href="{% static 'css/lib/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/lib/helper.css' %}" rel="stylesheet">
      <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
  <body class="bg-light-gray navbar-fixed" id="body">
    <div class="header ml-0  " style="padding-top: 15px;">
      <div class="container-fluid">
          <div class="row">
            <div class="col col-lg-4">
              <a class="navbar-brand" href="#">Focus</a>
            </div>
            <div class="col-lg-5">
                <div class="input-group input-group">
                  <form method='get' class="form-inline my-2 my-lg-0">
                    <input type="text" style="width: 286px;" class="form-control  input-default" placeholder="Pesquisar"  id="pesquisa" name="pesquisa">
                    <span class="input-group-btn" style="height: 45px;"><button class="btn btn-primary btn-group-right" style="height: 45px; width: 58px;" type="submit"><i class="ti-search"></i></button></span>
                  </form>
                </div>
              </div>
              <div class="col">
                <div class="float-right">
                  {% if user.is_superuser %}
                    <a href="/livros/solicitaçoes/" class="btn btn-lg"><i class="ti-check-box"></i></a>  
                  {% endif %}
                  <a href="/" class="btn btn-lg"><i class="ti-home"></i></a>   
                  <a href="/livros/" class="btn btn-lg"><i class="ti-book"></i></a> 
                  <a href="/leituras/" class="btn btn-lg"><i class="ti-bookmark"></i></a> 
                  <a href="/perfil/meuPerfil/" class="btn btn-lg"><i class="ti-user"></i></a>   
                  <a href="/accounts/logout/"  class="btn btn-lg"><i class="ti-shift-right"></i></a>
                </div>
              </div>
                  
          </div>
        </div>
    </div>
    
        <div class="d-flex flex-column justify-content-between" style="margin-top: 10px;">
            <section id="main-content mt-10">
              <div class="container-fluid">
                <div class="row" style="margin-left: 20px; margin-right:20px;">
                    <div class="col-lg-3 col-xl-3" style="padding-right:0px; padding-left:0px;">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center mb-4">
                                    <img class="mr-3" src="/{{perfil.Imagem}}" width="80" height="80" alt="">
                                    <div class="media-body">
                                        <h3 class="mb-0">{{perfil.Nome}} {{perfil.Sobrenome}}</h3>
                                        <p class="text-muted mb-0"><i class="ti-location-pin"></i> {{perfil.Cidade}}, {{perfil.Estado}}</p>
                                    </div>
                                </div>
                                
                                <div class="row mb-5">
                                    <div class="col">
                                        <div class="card card-profile text-center">
                                            <h3 class="mb-0">{{seguindo}}</h3>
                                            <p class="text-muted px-4">Following</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card card-profile text-center">
                                            <h3 class="mb-0">{{seguidores}}</h3>
                                            <p class="text-muted">Followers</p>
                                        </div>
                                    </div>
                                    {% if segue %}
                                    <div class="col-12 text-center">
                                        <a href="/interaçao/deletar/{{perfil.id}}">
                                            <button class="btn btn-danger px-5">Seguindo</button>
                                        </a>
                                    </div>
                                    {% else %}
                                    <div class="col-12 text-center">
                                        <a href="/interaçao/criar/{{perfil.id}}">
                                            <button class="btn btn-danger px-5">Seguir</button>
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
          
                                <h4>About Me</h4>
                                <p class="text-muted">{{perfil.Bio}}</p>
                                <ul class="card-profile__info">
                                    <li class="mb-1"><strong class="text-dark mr-4">Mobile</strong> <br> <span>{{perfil.Telefone}}</span></li>
                                    <li><strong class="text-dark mr-4">Email</strong> <br> <span>{{perfil.Email}}</span></li>
                                    <li><strong class="text-dark mr-4">Gênero</strong> <br> <span>{{perfil.Genero}}</span></li>
                                    <li><strong class="text-dark mr-4">Aniversário</strong><br> <span>{{perfil.Data_nascimento}}</span></li>
                                </ul>
                            </div>
                        </div>  
                    </div>
                    <div class="col-lg-7 col-xl-7">
          
                        <div class="card">
                            <div class="card-body">
                              {% for i in page_obj %}
                              <div class="media media-reply">
                                <img class="mr-3 " src="/{{i.Livro_comentario.Imagem}}" width="60" height="75" alt="Generic placeholder image">
                                <div class="media-body">
                                    <div class="d-sm-flex justify-content-between mb-2">
                                        <h5 class="mb-sm-0">{{perfil.Nome}}<small class="text-muted ml-3">sobre <a href="/livros/expandir/{{i.Livro_comentario.id}}">{{i.Livro_comentario}}</a></small></h5>
                                        <div class="media-reply__link">
                                             <a href="/comentario/curtir/{{i.id}}"> <button class="btn btn-transparent p-0 mr-3">{{i.Curtida.count}}<i class="fa fa-thumbs-up"></i></button></a>
                                        </div>
                                    </div>
                                    
                                    <p>{{i.Conteudo}}</p>
                                </div>
                            </div>
                               
                            {% endfor %}
          
                        </div>
                        </div>
                        <div class="bootstrap-pagination">
                            <nav>
                                {% if page_obj.has_other_pages %}
                                <ul class="pagination justify-content-center">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                    {% else %}
                                        <li class=" page-item disabled"><span class="page-link" >&laquo;</span></li>
                                    {% endif %}
                                    {% for i in page_obj.paginator.page_range %}
                                        {% if page_obj.number == i %}
                                            <li class=" page-item active"><span class="page-link" > {{ i }} <span class="sr-only">(current)</span></span></li>
                                        {% else %}
                                            <li class="page-item" ><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item" ><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                        <li class=" page-item disabled"><span class="page-link" >&raquo;</span></li>
                                    {% endif %}
                                </ul>
                                {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card">
                            <div class="card-body">
                                <h4> Minhas Leituras</h4>
                                <p class="text-muted"></p>
                                <ul class="card-profile__info">
                                    <li><a href="/leituras/{{perfil.id}}"><span>Todas as leituras</span></a></li>
                                    <li><a href="/leituras/lidos/{{perfil.id}}"><span>Lidos</span></a></li>
                                    <li><a href="/leituras/lendo/{{perfil.id}}"><span>Lendo</span></a></li>
                                    <li><a href="/leituras/quero/{{perfil.id}}"><span>Quero ler</span></a></li>
                                </ul>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>  
                <!-- /# row -->
              </section>

        </div>
         

  </div>
     </div>
            </div>
        </div>

</body>
</html>

